body {
  margin: 0;
  padding: 0;
  background-color: #f2f7f8;
}

button {
  background-color: rgb(27, 27, 56);
  border: none;
  color: white;
  padding: .7rem .90rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 7px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo img{
  height: 30px;
}

nav ul {
  list-style: none;
  gap: 1.3rem;
  display: flex;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.hero {
  display: flex;
  padding: 50px 16%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}



.hero-image img{
  max-width: 500px;
}

h1 {
  font-size:  3rem;
  font-weight: 500;
}

p{
  max-width: 400px;
  font-size: 30px;
}